label {
    font-size: 1em;
}

// Pas de clear sur les li sinon Chosen s'affiche mal
.formulaire_spip {
    
    form > ul {
        display: block;
        background: #FFF;
        padding: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #d7ccbf;
    }
    ul { 
        li {
            padding: 0;
            position: relative;
        }
    }
    
    .explication {
        background: url(images/aide.png) no-repeat;
        padding-left: 15px;
    }

    fieldset {
        position: relative;
        h3 {
            font-size: 100%;
            span {
                display: block;
                background: #00a272 url(images/loupe_form.png) no-repeat 10px 10px;
                height: 30px;
                font-family: helvetica;
                font-weight: bold;
                font-size: pem(11);
                text-transform: uppercase;
                color: #FFF;
                padding-left: 24px;
                padding-top: 10px;
            }
        }

        &> ul {
            display: block;
            background: #f8f0d1;
            border-top: 2px solid #9c9e9f;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
            
            input.text {
                width: 100%;
                border: none;
            }
        }
    }

    .chzn-container-multi .chzn-choices .search-field input {
        height: 20px;
    }    
    
    #recherche_libre {
        display: block;
        background: #FFF;
        padding: 20px;
        border-bottom: 2px solid #d7ccbf;
        margin: 0;
        margin-bottom: 20px;
        
        .submit_haut {
            padding-left: 40px;
        }

        input.submit {
            display: block;
            border: none;
            background: url(images/bouton_recherche_haut.png) no-repeat 0 0;
            width: 255px;
            height: 99px;
            margin-right: 20px !important;
        }
    }
    
    ul {
        li.search-choice {
            clear: none;
        }
        li.saisie_checkbox {
            display: table;
            div.choix {
                float: left;
                width: 33%;
                font-size: pem(10);
            }
        }

        li.fieldset_ages {
            clear: none;
            float: left;
            width: 47%;
        }
        li.fieldset_periodes {
            clear: none;
            float: right;
            width: 47%;
        }

        li.search-field {
            clear: none;
        }

        li.fieldset_activite {
            fieldset > ul {
                display: table;
            }

            li.editer {
                display: block;
                clear: none;
                width: 50%;
                float: left;
                
                &.editer_soutien, 
                &.editer_multiactivite, 
                &.editer_sejour {
                    padding-left: 20px;
                    float: right;
                    div.choix {
                        width: 100px;
                    }
                }
                &.editer_sportive {
                    margin-right: 1px;
                }
            }
        }

        li.fieldset_handicap {
            width: 50%;
            float: left;
            clear: none;
            
            h3 {
                margin-left: -20px;
                padding-left: 20px;
                background: url(images/handicap.png) no-repeat 0 0;
            }

            div.choix {
                width: 100%;
            }
        }

        li.submit_bouton {
            display: block;
            clear: none;
            width: 50%;
            height: 136px;
            float: left;
            
            input.submit {
                display: block;
                border: none;
                background: url(images/bouton_recherche_bas.png) no-repeat 0 0;
                width: 302px;
                height: 136px;
                margin-top: -30px;
            }
        }
    }

    input[type="file"],
    input[type="checkbox"],
    input[type="radio"],
    select {
        margin-bottom: 0;
    }
}

/* Quelques modifications de Chosen */
.chzn-container-multi .chzn-results {
    width: 100%;
}

.supprimer {
    background: url(images/admin_supprimer.png) no-repeat center;
    width: 16px;
    height: 16px;
    border: none;
}

td.admin {
    width: 60px;
    a, input {
        float: left;
    }
}

#page #conteneur #contenu-principal h1.admin {
    background: transparent;
    font-size: pem(24);
    color: #000;
    padding-left: 0;
    padding-bottom: 10px;
}

.admin_menu {
    text-align: right;
    form {
        display: inline-block;
        margin: 0;
    }
}

// Formulaire de recherche ATL
.formulaire_recherche_atl {
    float: right;
    width: 280px;
    
    input {
        margin: 0;
    }

    &.formulaire_recherche_atl form > ul {
        margin: 0;
        padding: 5px;
        
        li {
            clear: none;
            float: left;
        }
        li.li_submit {
            padding-top: 3px;
            padding-left: 5px;
        }
    }
}

// Formulaire d'ajout d'organisme
.formulaire_editer_organisme_atl {
    .editer_adresse {
        width: 250px;
        float: left;
        clear: none;
    }
    .editer_code_postal, .editer_localite {
        width: 150px;
        float: left;
        clear: none;
        margin-left: 10px;
    }

    .editer_telephone, .editer_gsm, .editer_fax {
        width: 190px;
        clear: none;
        float: left;
    }
    .editer_gsm, .editer_fax {
        margin-left: 10px;
    }
}

.formulaire_editer_activite_atl {
    #champ_descriptif {
        height: 250px;
    }

    .editer_adresse {
        width: 250px;
        float: left;
        clear: none;
    }
    .editer_code_postal, .editer_commune {
        width: 150px;
        float: left;
        clear: none;
        margin-left: 10px;
    }
}