.tooltip {
    background: #ce0058;
    -webkit-border-radius: 0;
            border-radius: 0;
    
    width: 400px;
    height: auto;
    
    &> .nub {
        border-color: transparent transparent #ce0058;
    }
}