@function pem($pxval, $base: 16) {
    @return #{$pxval / $base}em;
}

@import "fonts";
@import "form";

// On reset titre par défaut mis par foundation
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: normal;
    font-weight: normal;
    margin:0;
}

body {
    background: #f8f0d1 url(images/main.png) no-repeat top center;
}

// On va créer tout un jeu de couleur pour le menu
.vert {
    background: #adb451;
}
.turquoise {
    background: #00ada9;
}
.rouge {
    background: #a80231;
}
.bleu {
    background: #6983ab;
}
.orange {
    background: #ee8016;
}
.brun {
    background: #716750;
}

// On vire les marges de foundation elles ne sont pas utile ici
.columns, .column {
    padding: 0;
}

// On créé une classe générique pour les boutons badge
.bouton_badge {
    display: table-cell;
    vertical-align: middle;
    background: url(images/bouton.png) no-repeat center;
    width: 122px;
    height: 19px;
    
    text-align: center;
    font-size: pem(9);
    color: #FFF;
}

#page {
    width: 980px;
    border: none;
    margin-top: 0;
    
    #entete {
        border: none;
        padding: 0;
        margin: 0;
        height: 180px;

        .header_bg {
            background: transparent url(images/header.png) no-repeat center;
            width: 773px;
            height: 180px;
            position: relative;

            .timbre {
                background: transparent url(images/timbre.png) no-repeat center;
                position: absolute;
                width: 135px;
                height: 81px;
                top: 127px;
                left: 584px;
            }
        }

        ul.menu-principal {
            list-style: none;
            
            li {
                width: 207px;
                height: 28px;
                padding-left: 28px;
                margin-left: -43px;
                margin-top: 2px;
                display: block;

                a {
                    color: #FFF;
                    font-family: PaperJohnnyEinhalbRegular;
                    font-size: pem(12);
                }
            }
        }
    }

    #info_site {
        text-align: center;
        padding-left: 35px;
        margin-top: 15px;
        
        h2 {
            color: #87362b;
            font-family: helvetica;
            font-size: pem(16);
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        p {
            font-family: helvetica;
            font-size: pem(14);
        }
    }
    
    #selection {
        .ma_selection {
            margin-left: -15px;
            margin-top: 15px;
        }
    }
    
    #conteneur {
        overflow: visible;
        
        #contenu-principal {
            padding-left: 20px;
            
            h1 {
                display: table-cell;
                vertical-align: middle;
                font-weight: bold;
                font-size: pem(16);
                color: #FFF;
                background: #ce0058;
                width: 700px;
                height: 30px;
                padding-left: 40px;
                text-transform: uppercase;
            }

            .texte-principal {
                background: #FFF;
                width: 680px;
                border-top: 2px solid #9c9e9f;
                margin-left: 10px;
            }
        }

        #sidebar {

            .cadre {
                background: #FFF;
                border-bottom: 2px solid #d7ccbf;
                padding: 10px;
                margin-bottom: 10px;
                width: 300px;
                float: right;

                .sub-cadre {
                    background: #f8f0d1;
                    border-bottom: 2px solid #d7ccbf;
                    &.no_border {
                        border: none;
                    }

                    .row {
                        margin: 0;
                        height: 200px;
                        
                        .large-5 {
                            width: 40%;
                        }
                    }
                    .agenda_texte {
                        padding-left: 20px;
                        background: url(images/agenda.png) no-repeat 95% 5%;

                        h3 {
                            margin-top: 20px;
                            font-size: pem(18);
                            color: #ce0058;
                        }

                        p {
                            font-size: pem(10);

                            &.pediode {
                                font-weight: bold;
                            }
                            &.descriptif {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    .borchure {
                        background: url(images/brochure.png) no-repeat 95% 5%;
                        .spip_documents {
                            margin: 0;
                            padding-top: 10px;
                        }
                    }

                    .annee_scolaire {
                        position: relative;
                        background: url(images/bg_annee_scolaire.png) no-repeat center;
                        width: 280px;
                        height: 156px;

                        .left_illu {
                            position: absolute;
                            background: url(images/left_illu.png) no-repeat center;
                            width: 116px;
                            height: 105px;

                            top: 10px;
                            left: -28px;
                        }
                        
                        .go {
                            position: absolute;
                            background: url(images/illu_go.png) no-repeat center;
                            width: 52px;
                            height: 22px;
                            
                            top: 10px;
                            right: 20px;
                        }

                        .texte {
                            position: absolute;
                            background: url(images/scolaire_texte.png) no-repeat center;
                            width: 210px;
                            height: 60px;
                            
                            top: 75px;
                            left: 56px;
                        }

                        .right_illu {
                            position: absolute;
                            background: url(images/right_illu.png) no-repeat center;
                            width: 119px;
                            height: 83px;

                            top: 98px;
                            right: -37px;
                        }
                    }
                }
            }

            .spip_logos {
                float: right;
            }
        }

        #sidebar-art {
            h2 {
                color: #FFF;
                font-size: pem(12);
                font-family: PaperJohnnyEinhalbRegular;
                width: 260px;
                height: 30px;
                text-align: center;
                text-transform: uppercase;
                
                display: table-cell;
                vertical-align: middle;
            }

            ul#article-rub {
                list-style: none;
                
                li {
                    margin-left: 12px;
                    margin-top: 1px;
                    padding-left: 30px;
                    background: #97d5d4;
                    width: 220px;
                    height: 28px;
                    
                    &:hover {
                        background: #00ada9;
                    }

                    a {
                        text-transform: uppercase;
                        color: #FFF;
                        font-size: pem(12);
                        font-family: PaperJohnnyEinhalbRegular;
                    }
                }
            }

            .nouvelle_recherche {
                margin-top: 20px;
            }
        }
    }


    #pied {
        background: #fcbf00;
        border: none;
        border-bottom: 2px solid #d7ccbf;
        text-transform: uppercase;
        
        .liens {
            text-align: left;
            a {
                color: #000;
            }
        }
        
        #copyright {
            text-align: left;
            padding-left: 20px;
        }
    }
}