@function pem($pxval, $base: 16) {
    @return #{$pxval / $base}em;
}

@import "fonts";

// On reset titre par défaut mis par foundation
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: normal;
    font-weight: normal;
    margin:0;
}

body {
    background: #f8f0d1 url(images/main.png) no-repeat top center;
}

// On va créer tout un jeu de couleur pour le menu
.vert {
    background: #adb451;
}
.turquoise {
    background: #00ada9;
}
.rouge {
    background: #a80231;
}
.bleu {
    background: #6983ab;
}
.orange {
    background: #ee8016;
}
.brun {
    background: #716750;
}

// On vire les marges de foundation elles ne sont pas utile ici
.columns, .column {
    padding: 0;
}

#page {
    width: 980px;
    border: none;
    margin-top: 0;
    
    #entete {
        border: none;
        padding: 0;
        margin: 0;
        
        .header_bg {
            background: transparent url(images/header.png) no-repeat center;
            width: 773px;
            height: 180px;
            position: relative;

            .timbre {
                background: transparent url(images/timbre.png) no-repeat center;
                position: absolute;
                width: 135px;
                height: 81px;
                top: 127px;
                left: 584px;
            }
        }

        ul.menu-principal {
            list-style: none;
            
            li {
                width: 207px;
                height: 28px;
                padding-left: 28px;
                margin-left: -43px;
                margin-top: 2px;
                display: block;

                a {
                    color: #FFF;
                    font-family: PaperJohnnyEinhalbRegular;
                    font-size: pem(12);
                }
            }
        }
    }

    #pied {
        background: #fcbf00;
        border: none;
        border-bottom: 2px solid #d7ccbf;
    }
}